.meta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #183d3a;
  padding: 20px;
}

.meta img {
  width: calc(100% - 35px);
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.meta img:hover {
  transform: scale(1.02);
}

.meta h1,
.meta h2 {
  margin: 20px;
  text-align: center;
}

.songTitle {
  font-size: 1.8rem;
  font-weight: 700;
}

.artistName {
  font-size: 1.2rem;
  font-weight: 500;
  color: #8ff5e2;
}

.key {
  font-size: 1.2rem;
  font-weight: 500;
  color: #8ff5e2;
}

@media (max-width: 900px) {
  .meta {
    padding: 15px;
  }

  .meta img {
    width: 200px;
    height: 200px;
  }
}
