.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex-grow: 1;
  overflow: auto;
  display: grid;
  grid-template-columns: 2fr 4fr 3fr;
}

.meta-section {
  padding: 20px;
  overflow-y: auto;
}

@media (max-width: 1200px) {
  main {
    grid-template-columns: 1fr 2fr 1.5fr;
  }
}

@media (max-width: 900px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
  
  .meta-section {
    padding: 15px;
  }
}
